# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#binaries
*.so

#libs
*.a

#files created by build
*.apk
*.ap_
*.class
projects/Android/build/*
projects/Android/.idea/*
Projects/Android/.cxx/*
*.json
Projects/Android/.externalNativeBuild/*
*.bin
Projects/Android/.gradle/*
*.ser
Projects/Android/.idea/codeStyles/Project.xml
*.xml
Projects/Android/.gradle/*
drbeef-release-key.keystore
Projects/Android/.idea/.name
